h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
p {
  font-size: 16px;
}
.size1 {
  font-size: 1vw;
  font-weight: bold;
  width: 90%;
  word-wrap: break-word; /* For older browsers */
  overflow-wrap: break-word; /* For newer browsers */
  hyphens: auto; /* Enable hyphenation */
}
.size2 {
  font-size: .8vw;
  font-weight: bold;
  width: 90%;
  word-wrap: break-word; /* For older browsers */
  overflow-wrap: break-word; /* For newer browsers */
  hyphens: auto; /* Enable hyphenation */
}