header {
    background-color: rgb(107, 107, 107);
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
}
header div {
    background-color: rgb(68, 68, 68);
    width: 900px; 
}
.link {
    text-decoration: none;
    color: antiquewhite;
}
header .link {
    font-size: 1.3rem;
}